#ligar-desligar{
    display: flex;
    justify-content: end;
    margin-right:  5%;
}

#ligar-desligar button{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    margin-top: 12px;
}

#img-lampada{
    width: 40px;
    margin-left: 10px;
    
}

#quadro-cores{
    background-color: rgb(0, 0, 255);
}