@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Radio+Canada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');


body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
    background-color: rgba(23, 23, 63, 0.678);
}


#topo{
    font-family:'Courier New', Courier, monospace, serif;
}


#topo h1{
    text-align: center;
    font-family: 'Times New Roman', serif;
}


#topo p{
    font-family: 'Radio Canada', sans-serif;
}


.font-google{
    font-family: 'Radio Canada', sans-serif;
    font-size: 2em;
    font-style: italic;
}


form{
    font-size: 16px;
    font-family: 'Oswald' sans-serif;
}


form input{
    display: block;
    margin: 1% 1%;
    border-radius: 5px;
    border: solid 2px rgba(86, 86, 95, 0.795);
}


form input[type='text'], input[type='tel'], input[type='email'], select{
    height: 30px;
    width: 30%;
    font-size: 1em;
    font-family: 'Radio Canada', sans-serif;
}

form input[type=submit], input[type=reset]{
    display: inline;
    height: 40px;
    width: 100%;
    max-width: 40%;
    font-family: 'Radio Canada', sans-serif;
    margin: 1% 1% 0%;
}

footer{
    font-family: 'Tapestry', cursive;
}