@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,500;1,600&family=Nunito:wght@700&family=Oswald:wght@500;700&display=swap');
/* font-family: 'Asap', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Oswald', sans-serif;
*/
html{
    font-size: 32px;
}

body{
    font-family: 'Nunito', sans-serif;
    color: #1c1c1c;
    font-size: 16px;
}

h1,h2,h3{
    font-family: 'Asap', sans-serif;
    color: black;
}
/* navbar */
nav{
    background-color: #191970;
}
nav a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 1.5em;
}
#topo{
    background-image: url("../img/fundo-pc.jpg");
    color: #fff;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}


